//
// Breakpoint Variables
//
// Theses variables will be used by mixins/_respond-to.scss.
//
// The viewport-ranges must be mutually exclusive!
//
// <--- phone --- | --- pad --- | --- desktop --->
//
// That means in the example above you shouldn't use e.g.
// min-width: 720px because it would interfere the ranges
// of the breakpoints pad and desktop and so would result
// in a bad maintainability.
//

// fallback settings: if not set, respond-to won't render a fallback
$respond-to-no-mediaqueries-fallback: desktop;
$respond-to-fallback-class: lt-ie9;

$break-desktop-min: 921px;
$break-pad-max: 920px;
$break-pad-min: 569px;
$break-phone-max: 568px;

$respond-to-breakpoints: (
    desktop "(min-width:"+$break-desktop-min+")",
    pad "(min-width:"+$break-pad-min+") and (max-width:"+$break-pad-max+")",
    phone "(max-width:"+$break-phone-max+")"
);
